---
import Subpage from "../../layouts/Subpage.astro";
import Button from "../../components/atoms/Button.astro";

---

<Subpage
    title="Thank you!"
    description="Thank you"
    subtitle="Your submission has been sent. I'll get back to you very soon."
    noindex={true}
>

<a href="/" class="w-fit" title="Return to homepage">
    <Button caption="Return to homepage" />
</a>

</Subpage>
