---
import Subpage from "../../layouts/Subpage.astro";
import { fetchTags, fetchPosts, filterActiveTags } from "../../lib/wordpress";
import TagCard from "../../components/Tag.astro";

const tags = await fetchTags();
const posts = await fetchPosts();
const activeTags = filterActiveTags(tags, posts);

// Sort tags alphabetically
const sortedTags = activeTags.sort((a, b) => a.name.localeCompare(b.name));
---

<Subpage description="Tagged content by Adam Koszary." title="All Tags">
  <h1 class="mt-20 mb-8 text-2xl uppercase">ALL TAGS</h1>
  <ul class="flex flex-wrap gap-2">
    {sortedTags.map((tag) => <TagCard tag={tag.name} />)}
  </ul>
</Subpage>
