---
// Components
import Grid from "../components/Grid.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Testimonials from "../components/Testimonials.astro";
import Posts from "../components/Posts.astro";
import Services from "../components/Services.tsx";
import HR from "../components/atoms/HR.astro";
import Contact from "../components/Contact.astro";

// Images
import AdamPhones from "../../src/images/adam_phones.webp";

// API calls
import { wpquery } from "../lib/wordpress";

interface PageNode {
  slug: string;
  content: string;
  title: string;
}

interface DataProps {
  pages: {
    nodes: PageNode[];
  };
}

let data: DataProps = { pages: { nodes: [] } };
let pageContent = "Content not found";

try {
  const response = await wpquery({
    query: `
      query GetPageContent {
        pages {
          nodes {
            slug
            content(format: RENDERED)
            title
          }
        }
      }
    `,
  });

  if (response.pages?.nodes) {
    data = response as DataProps;
    const pageData = data.pages.nodes[1];
    pageContent = pageData?.content ?? "Content not found";
  } else {
    console.error("No pages found in the response", response);
  }
} catch (error) {
  console.error("Error fetching page content:", error);
  pageContent = "Error loading content";
}
---

<Layout
  description="Adam Koszary is an expert in social media and digital engagement for museums, galleries, libraries, archives, and theatres."
  title="Adam Koszary"
>
  <Fragment class="max-w-6xl">
    <Header title="Adam Koszary" subtitle={pageContent} />
    <HR />
    <Services client:load />
    <HR />
    <Grid
      anchor="principles"
      background
      title="How I Do It"
      src={AdamPhones}
      alt="Adam Koszary"
      slug="principles"
    />
    <HR />
    <Testimonials />
    <HR />
    <Grid anchor="contact" title="Get in touch">
      <p class="prose text-black dark:text-white">
        Chatting to me is free, and I have a discount for smaller organisations
        (less than £100k annual revenue). We can always work something out. <a
          href="mailto:adamkoszaryconsulting@gmail.com"
          class="font-semibold underline dark:text-white"
          title="Get in touch">Get in touch</a
        >.
      </p>
    </Grid>
    <Contact />
    <HR />
    <Posts />
  </Fragment>
</Layout>
