---
import Tag from "./atoms/Tag.astro";

interface TagProps {
  id: string;
  name: string;
}

interface Props {
  date: string;
  title: string;
  tags?: TagProps[] | null;
}

const { date, title, tags } = Astro.props;

const formatDate = (date: string) =>
  new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(new Date(date));

console.log(tags);
---

<hgroup
  class="flex flex-col items-center text-center max-w-3xl mx-auto border-b pb-4 mb-8 dark:border-white"
>
  <p
    class="text-sm uppercase tracking-wider text-gray-500 dark:text-white mb-3"
  >
    {formatDate(date)}
  </p>

  <h1
    class={`md:text-5xl text-3xl font-bold text-gray-800 dark:text-white leading-[1.25] text-balance md:pb-4 pb-2`}
  >
    {title}
  </h1>

  {
    tags && tags.length > 0 && (
      <div class="flex flex-wrap justify-center gap-3 mt-4 pb-4">
        {tags.map(({ name }) => (
          <Tag link tag={name} />
        ))}
      </div>
    )
  }
</hgroup>
