---
interface Props {
  // The button title
  caption: string;
}

const { caption } = Astro.props;
---

<button
  class="text-black rounded-full px-2 py-1 font-mono bg-slate-200 hover:bg-black dark:hover:bg-slate-500 hover:text-white tracking-tight"
>
  {caption}
</button>
