---
interface Props {
  /** Copyright year. Note: this updates automatically to the current year.*/
  year?: Date;
}

const { year = new Date().getFullYear() } = Astro.props;
---

<footer class="self-end my-8 flex flex-col items-end text-right mx-auto text-xs">
  <p class="mb-px">&copy; Adam Koszary, {year}</p>
  <p>
    Designed by <a href="https://joevaughan.net" class="underline font-semibold"
      >Joe Vaughan</a
    >
  </p>
</footer>
