---
// Keep copyright updated with the year
const year = new Date().getFullYear(); //
---

<footer class="self-end my-8 flex flex-col items-end text-right px-8">
  <p>&copy; Adam Koszary, {year}</p>
  <p>
    Designed by <a href="https://joevaughan.net" class="underline font-semibold"
      >Joe Vaughan</a>
  </p>
</footer>
