---
import Socials from "./Socials.astro";

interface Props {
  // Site title. Automatically renders in uppercase.
  title: string;
  // Site subheading.
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header class="md:min-h-screen subpixel-antialiased border-b-2">
  <hgroup class="md:py-40 py-20">
    <h1 class="md:text-8xl text-6xl uppercase tracking-tight mb-4">
      {title}
    </h1>
    <p class="md:text-4xl text-2xl font-light text-pretty">{subtitle}</p>
  </hgroup>
  <Socials />
</header>
