---
import { fetchPageContent } from "../lib/wordpress";
import Socials from "./Socials.astro";

const { content: fetchedContent } = await fetchPageContent("pitch");

interface Props {
  /** The header title.*/
  title: string;
}

const { title } = Astro.props;
---

<header
  data-testid="page-header"
  id="home"
  class="xl:min-h-screen max-w-7xl mx-auto subpixel-antialiased flex flex-col"
>
  <hgroup class="lg:py-20 py-12">
    <h1 class="lg:text-9xl text-6xl font-medium uppercase tracking-tight mb-8">
      {title}
    </h1>
    <div
      class="dark:text-white text-2xl prose prose-a:dark:text-white text-pretty"
      set:html={fetchedContent}
    />
  </hgroup>
  <Socials>
    <slot />
  </Socials>
</header>
