---
import Socials from "./Socials.astro";

interface Props {
  // Site title. Automatically renders in uppercase.
  title: string;
  // Slug for the WordPress page to fetch
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header
  id="home"
  class="xl:min-h-screen max-w-7xl mx-auto subpixel-antialiased flex flex-col"
>
  <hgroup class="lg:py-20 py-12">
    <h1 class="lg:text-9xl text-6xl uppercase tracking-tight mb-8">
      {title}
    </h1>
    <div
      class="dark:text-white text-2xl prose prose-a:dark:text-white"
      set:html={subtitle}
    />
  </hgroup>
  <Socials />
</header>
