---
import H2 from "./H2.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div
  class="bg-gradient-to-b from-slate-50 to-slate-100 py-16 px-4 sm:px-6 lg:px-8 rounded-lg max-w-6xl mx-auto"
>
  <section class="max-w-7xl mx-auto">
    <hgroup class="mb-12">
      <H2 title={title} nodarkmode />
      {
        description && (
          <p class="prose dark:prose-invert max-w-2xl mx-auto text-lg text-slate-600 dark:text-slate-300">
            {description}
          </p>
        )
      }
    </hgroup>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-10 lg:gap-12">
      <slot />
    </div>
  </section>
</div>
