---
import Button from "./atoms/Button.astro";
---

<nav
  class="flex justify-between items-center sticky top-0 py-2 px-6 backdrop-blur-sm backdrop-hue-rotate-60 z-50"
>
  <a href="/#home"> <Button font='handwriting' caption="Adam Koszary" /></a>
  <div class="flex gap-1">
    <a href="/#posts" class="ml-3"><Button caption="Posts" /></a>
    <a href="/#contact" class="ml-3"><Button caption="Contact" /></a>
  </div>
</nav>
