---
import Button from "./Button.astro";
---

<nav class="flex justify-between sticky top-0 py-px backdrop-blur-sm">
  <a href="/"><Button caption="Adam Koszary" /></a>
  <div class="flex gap-1">
    <a href="#posts"><Button caption="Posts" /></a>
    <Button caption="Contact" />
  </div>
</nav>
