---
import Button from "./Button.astro";
---

<nav class="flex justify-between">
  <a href="/"><Button caption="Adam Koszary" /></a>
  <div class="flex gap-1">
    <Button caption="Contact" />
    <a href="#posts"><Button caption="Posts" /></a>
  </div>
</nav>
