---
import Button from "./atoms/Button.astro";
import Hamburger from "./Hamburger.tsx";
---

<nav
  class="flex justify-between md:sticky md:top-0 py-4 backdrop-blur-sm backdrop-hue-rotate-60 z-50"
>
  <div>
    <a href="/#home"> <Button font="handwriting" caption="Adam Koszary" /></a>
  </div>
  <div class="lg:flex hidden gap-1">
    <slot id="menu" />
  </div>
  <div class="lg:hidden flex gap-1">
    <Hamburger client:load />
  </div>
</nav>
