---
import Button from "./atoms/Button.astro";
---

<nav
  class="flex justify-between items-center sticky top-0 my-2 backdrop-blur-sm backdrop-hue-rotate-60 z-50"
>
  <a href="/#home"> <Button font="handwriting" caption="Adam Koszary" /></a>
  <div class="flex gap-1">
    <slot />
  </div>
</nav>
