---
import Button from "./Button.astro";
---

<nav
  class="flex justify-between items-center sticky top-0 py-px backdrop-blur-sm backdrop-hue-rotate-60"
>
  <a
    class="font-handwriting dark:bg-slate-200 rounded-full text-black"
    href="/#home">ADAM KOSZARY</a
  >
  <div class="flex gap-1">
    <a href="/#posts"><Button caption="Posts" /></a>
    <a href="/#contact"><Button caption="Contact" /></a>
  </div>
</nav>
