---
import Button from "./atoms/Button.astro";
---

<nav
  class="flex justify-between items-center sticky top-0 py-px backdrop-blur-sm backdrop-hue-rotate-60 z-50"
>
  <a
    class="font-handwriting dark:bg-slate-200 rounded-full text-black px-2"
    href="/#home">ADAM KOSZARY</a
  >
  <div class="flex gap-1">
    <a href="/#posts" class="ml-3"><Button caption="Posts" /></a>
    <a href="/#contact" class="ml-3"><Button caption="Contact" /></a>
  </div>
</nav>
