---
import { Icon } from "astro-icon/components";
---

<nav class="flex gap-2 justify-between pb-20">
  <div>
    <a href="/#services"
      ><Icon
        class="text-6xl animate-pulse"
        name="tabler:circle-arrow-down"
      /></a
    >
  </div>
  <div class="flex gap-2">
    <a title="Twitter" href="https://x.com/AdamKoszary">
      <Icon class="md:text-6xl text-4xl" name="tabler:brand-x" />
    </a>
    <a title="LinkedIn" href="https://linkedin.com/in/adam-koszary"
      ><Icon class="md:text-6xl text-4xl" name="tabler:brand-linkedin" /></a
    >
  </div>
</nav>
