---
import { Icon } from "astro-icon/components";
---

<nav class="flex gap-2 lg:justify-between justify-end pb-20">
  <div class="xl:block hidden">
    <a href="/#services" title="Scroll down"
      ><Icon
        title="Down arrow"
        class="lg:text-6xl text-4xl animate-pulse"
        name="tabler:circle-arrow-down"
      /></a
    >
  </div>
  <div class="flex gap-4">
    <slot />
  </div>
</nav>
