---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<a
  href={`/tags/${tag}`}
  class="lowercase text-sm rounded-full px-2 py-1 font-mono bg-slate-200 text-black w-fit"
>
  {tag}
</a>
