---
import { Icon } from "astro-icon/components";

interface Props {
  background: boolean;
  author: string;
  quote: string;
  role: string;
  link: string;
  org: string;
}

const { background, author, quote, role, link, org } = Astro.props;

function stripHtml(html: string) {
  return html.replace(/<\/?[^>]+(>|$)/g, "");
}

const cleanAuthor = stripHtml(author);
const cleanRole = stripHtml(role);
---

<section
  class={`py-8 px-8 h-full flex items-center flex-col ${
    background ? "bg-slate-100 text-black" : "dark:text-white"
  }`}
>
  <Icon name="tabler:quote" class="text-2xl mb-2" />
  <div class={`mb-2 leading-loose flex-grow ${background ? '' : 'dark:text-white'}`} set:html={quote} />
  <div class="flex flex-col items-end self-end mt-auto">
    <p class="font-bold">{cleanAuthor}, {cleanRole}</p>
  </div>
</section>
