---
interface Props {
  // The button title
  caption: string;
  font?: "mono" | "handwriting";
  width?: `fit` | "md";
}

const { caption, font = "mono", width = "fit" } = Astro.props;
---

<button
  class=`${width == 'fit' ? 'w-fit' : 'w-32'} text-sm text-black rounded-lg md:px-4 px-2 md:h-12 h-8 ${font=='mono'? 'font-mono' : 'font-handwriting'} bg-slate-200 hover:bg-black dark:hover:bg-slate-500 hover:text-white tracking-tight`
>
  {caption}
</button>
