---
interface Props {
  title: string;
  nodarkmode?: boolean;
}

const { title, nodarkmode = false } = Astro.props;
---

<h2
  class={`md:text-4xl text-2xl md:mb-4 mb-1 font-bold ${nodarkmode && "text-black"}`}
>
  {title}
</h2>
