---
import { Image } from "astro:assets";

interface Props {
  logoImage: ImageMetadata;
  org: string;
  url: string;
}

const { logoImage, url, org } = Astro.props;
---

<div
  class="w-[calc(50%-1rem)] sm:w-[calc(33.333%-1rem)] lg:w-[calc(25%-1rem)] flex items-center justify-center"
>
  <a
    title={`Link to ${org}'s website`}
    href={url}
    class="w-full h-full sm:h-28 md:h-32 flex items-center justify-center p-4 hover:outline hover:outline-2 hover:outline-blue-500"
  >
    <Image alt={org} src={logoImage} class="w-full h-full object-contain" />
  </a>
</div>
