---
import { capitalise, encodeSlug } from "../../lib/utils";

interface Props {
  tag: string;
  link?: boolean;
}

const { tag, link = false } = Astro.props;

const tagSlug = encodeSlug(tag);
---

<Fragment>
  {
    link ? (
      <a
        href={`/tags/${tagSlug}`}
        class="text-sm rounded-full px-2 py-1 font-mono bg-slate-200 text-black w-fit"
      >
        {capitalise(tag)}
      </a>
    ) : (
      <div class="text-sm rounded-full px-2 py-1 font-mono bg-slate-200 text-black w-fit">
        {capitalise(tag)}
      </div>
    )
  }
</Fragment>
