---
interface Props {
  tag: string;
  link?: boolean;
}

const { tag, link = false } = Astro.props;

---

<Fragment>
  {
    link ? (
      <a
        href={`/tags/${tag.toLowerCase().replace(/\s+/g, "-")}`}
        class="lowercase text-sm rounded-full px-2 py-1 font-mono bg-slate-200 text-black w-fit"
      >
        {tag}
      </a>
    ) : (
      <div class="lowercase text-sm rounded-full px-2 py-1 font-mono bg-slate-200 text-black w-fit">
        {tag}
      </div>
    )
  }
</Fragment>
