---
import Nav from "../components/Nav.astro";
import Layout from "./Layout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="flex flex-col h-full">
    <Nav />
    <slot />
  </main>
</Layout>
